/*********************************************************************************************************************************************/
/* body {counter-reset: h1}														     */
/*   h1 {counter-reset: h2}														     */
/*   h2 {counter-reset: h3}														     */
/*   h3 {counter-reset: h4}														     */
/*   h4 {counter-reset: h5}														     */
/* 																	     */
/*   h1:before {counter-increment: h1; content: counter(h1) ". "}									     */
/*   h2:before {counter-increment: h2; content: counter(h1) "." counter(h2) ". "}							     */
/*   h3:before {counter-increment: h3; content: counter(h1) "." counter(h2) "." counter(h3) ". "}					     */
/*   h4:before {counter-increment: h4; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "}			     */
/*   h5:before {counter-increment: h5; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}	     */
/* 																	     */
/*   h1.nocount:before, h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before { content: ""; counter-increment: none }  */
/*********************************************************************************************************************************************/

header h1 {
  color: #1c87c4;
  display: inline;
  font-size: 350%;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h1 {
    font-family: "Rajdhani" !important;
    font-weight: bold !important;
    font-size: 350%;
}

header h2 {
  color: #1c87c4;
  display: inline;
  font-size: 300%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2 {
    font-family: "Rajdhani" !important;
    font-weight: bold !important;
    font-size: 150%;
}

header h4, header h3, header h5 {
  color: #1c87c4;
  display: inline;
  font-size: 250%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h3, h4, h5, h6 {
    font-family: "Rajdhani" !important;
    font-size: 150%;
}

p, ul, li {
    font-family: "Raleway" !important;
}

.slide.normal p, ul {
    color: #555753 !important;
    font-size: 120% !important;
}


/*header h1, header h2, header h3, header h4, header h5, header h6 {
    color: #1c87c4 !important;
    font-weight: bold !important;
}*/

section h1, section h2, section h3, section h4, section h5, section h6 {
    color: #3465a4 !important;
}

img { }

body {
  font: 14px "Raleway", "FreeSans",  "Trebuchet MS", Verdana, sans-serif;
  background: #0e81cc;
  color: #222222;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.presentation {
  position: absolute;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, to(#1c87c4), from(#1c87c4));
  background-color: #0e81cc;
  background: -moz-linear-gradient(bottom, #1c87c4, #1c87c4);
}

div.slides, body.expose div.slides.nocontext {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
}

div.slides.nocontext {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
}

div.slide {
#    background: url('bg.svg') bottom right no-repeat, -webkit-gradient(linear, left bottom, left top, to(#ffffff), from(#ffffff));
#    background-color: #ffffff;
#    background: url('bg.svg') bottom right no-repeat, -moz-linear-gradient(top, #ffffff, #ffffff);
    display: none;
    border: 1px solid #fff;
    position: absolute;
    overflow: hidden;
    width: 900px;
    height: 700px;
    left: 50%;
    top: 50%;
    margin-top: -350px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border-top-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
}

.slide.front {
  background: url('bg2.svg') bottom right no-repeat, -webkit-gradient(linear, left bottom, left top, to(#ffffff), from(#ffffff));
  background-color: #ffffff;
  background: url('bg2.svg') bottom right no-repeat, -moz-linear-gradient(top, #ffffff, #ffffff);
}

.slide.normal {
  background: url('bg.svg') bottom right no-repeat, -webkit-gradient(linear, left bottom, left top, to(#ffffff), from(#ffffff));
  background-color: #ffffff;
  background: url('bg.svg') bottom right no-repeat, -moz-linear-gradient(top, #ffffff, #ffffff);
}


.slide.far-past {
  display: block;
  margin-left: -2400px;
  transform: rotate(-60deg);
}

.slide.past {
  display: block;
  margin-left: -1400px;
  transform: scale(0.75) rotate(-30deg);
}


.slide.current {
  transform: scale(1.0);
  display: block;
  margin-left: -450px;
}

.slide.future {
  display: block;
  margin-left: 500px;
  transform: scale(0.75) rotate(30deg);
}

.slide.far-future {
  display: block;
  margin-left: 1500px;
  transform: rotate(60deg);

}

body.three-d div.slides {
  -webkit-transform: translateX(100px) scale(0.5) rotateY(10deg);
  -moz-transform: translateX(100px) scale(0.5) rotateY(10deg);
  -o-transform: translateX(100px) scale(0.5) rotateY(10deg);
}


/* Content */


header:not(:only-child) {
  font-family: "Rajdhani", "FreeSans",  "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-weight: normal;
  /*letter-spacing: -.05em;*/
  color: #1c87c4;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  position: absolute;
  left: 30px;
  top: 0px;
  margin: 0;
  padding: 0;
}

header h2:first-child {
  margin-top: 0;
}

section, .slide.front  h1 {
  font-family: "Rajdhani", "FreeSans",  "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 60px;
  display: block;
  overflow: hidden;
}


section, .slide header:only-child h1 {
  font-family: "Rajdhani", "FreeSans",  "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: #1c87c4;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  display: block;
  overflow: hidden;
}

section img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section img.align-right {
  float: right;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

section img.align-left {
  float: left;
  display: block;
  margin-right: 20px;
  margin-left: 10px;
}

a {
  color: #1c87c4;
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
  line-height: 110%;
}

pre {
  max-width: 95%;
  max-height: 525px;
  overflow: auto;
  font-size: 12px;
  margin-left: 10px;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 2px solid #1c87c4;
  border-top: 2px solid #1c87c4;
  font-family: "Droid Sans Mono", monospace;
  color: #555753;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(5,5,0,0.3); 
    border-radius: 10px;
    background: none;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1c87c4;
    -webkit-box-shadow: inset 0 0 6px rgba(5,5,0,0.5); 
}






.slide header:only-child h1 {
  /*line-height: 180%;*/
  text-align: left;
  text-color: #1c87c4;
  display: table-cell;
  vertical-align: top;
  height: 700px;
  width: 900px;
  font-size: 50px;
  margin-top:  0px;
  margin-right: 400px;
  background: #ffffff;
  background: url('bg5.svg') top right no-repeat;
  background-color: #1c87c4;
  padding-top: 75px;
  padding-right: 410px;
  padding-left: 20px;
}

.slide.front p:first-child {
  padding-top: 450px;
  font-weight: 150%;
}

.slide.front h1 {
  /*line-height: 180%;*/
  text-align: right;
  text-color: #000;
  display: table-cell;
  vertical-align: top;
  height: 700px;
  width: 900px;
  font-size: 50px;
  margin-top:  200px;
  margin-bottom: 100px;
  padding-top: 200px;
  padding-right: 20px;
}

.sidebar {
  background-color: #1c87c4;
  z-index: 9999999;
  height: 95%;
  overflow: hidden;
  top: 0;
  position: absolute;
  display: block;
  margin: 0;
  margin-left: -400px;
  padding: 10px 16px;
  overflow: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.sidebar h2 {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 0 0 16px;
  padding: 0;
}

.sidebar table {
  width: 100%;
  margin: 0;
  background: white;
  color: #0e81cc;
  border: px solid #0e81cc;
  padding: 0;
  border-collapse: collapse;
}
.sidebar th {
  margin: 0;
  background: white;
  color: #0e81cc;
  border: px solid #0e81cc;
  padding: 0;
  border-collapse: collapse;
}
.sidebar td {
  margin: 0;
  background: white;
  color: #0e81cc;
  border: px solid #0e81cc;
  padding: 0;
  border-collapse: collapse;
}

.sidebar table caption {
  display: none;
  background: white;
}

dd {
  color: #555753;
}

dt {
  color: #555753;
}

table {
  color: #555753;
  font-family: "Raleway", Verdana, sans-serif;
  border: 1px solid #0e81cc;
  background: white;
  border-collapse: collapse;
}

th {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
  background: #0e81cc;
  max-width: 300px;
  overflow: hidden;
  border-left: px solid #0e81cc;
}

tr.sub th {
  text-indent: 20px;
  border: px solid #0e81cc;
}

td {
  text-align: center;
  min-width: 20px;
  border: 1px solid #0e81cc;
}


.sidebar tr {
  margin: 2px 0;
  border: px solid #0e81cc;
}

.sidebar th {
  text-align: left;
  font-weight: normal;
  border: 0px solid #0e81cc;
  max-width: 300px;
  overflow: hidden;
}

.sidebar tr.sub th {
  text-indent: 20px;
}

.sidebar td {
  text-align: center;
  min-width: 20px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  padding: 4px 0;
}

.sidebar tr.active {
  background: #ff0;
}

aside {
  display: none;
  background: #fff;
}

aside.page_number {
    display: block;
    position: absolute;
    bottom: 6px;
    left: 6px;
    background: #0e81cc;
    color: #fff;
    text-indent: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
aside.page_number {
    display: block;
    position: absolute;
    bottom: 6px;
    left: 6px;
    background: #0e81cc;
    color: #fff;
    text-indent: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

aside.prev_page {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #0e81cc;
    color: #fff;
    text-indent: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

aside.next_page {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #0e81cc;
    color: #fff;
    text-indent: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}


aside.source {
    position: absolute;
    bottom: 6px;
    left: 50px;
    text-indent: 10px;
}

aside.footer {
    display: block;
    position: absolute;
    bottom: 6px;
    left: 50px;
    text-indent: 10px;
    background: none;
    text-shadow: #fff 0 0 5px;
}


.notes {
  display: none;
  padding: 10px;
  background: #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}


/* Expose */

body.expose div.slides {
  float: left;
  position: relative;
  overflow: auto;
  margin-bottom: 10px;
}

body.expose div.slide {
  display: block;
  float: left;
  position: relative;
  left: auto !important;
  top: auto !important;
  margin: 10px !important;
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;  
  -moz-transform: scale(.33, .33);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.33, .33);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.33, .33);
  -o-transform-origin: 0 0;
  cursor: pointer;
}

body.expose div.slide:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#bdd), to(#fff));
  background-color: #eee;
  background: -moz-linear-gradient(bottom, #bdd, #fff);
}

body.expose .slide-wrapper {
  float: left;
  position: relative;
  margin: .5%;
  width: 300px;
  height: 233px;
}

body.expose .slide footer {
}

body.expose .slide .inner {
}

body.expose .slide.far-past,
body.expose .slide.past,
body.expose .slide.future,
body.expose .slide.far-future {
  margin-left: 0;
}

body.expose .slide.current {
  background: -webkit-gradient(linear, left bottom, left top, from(#ddb), to(#fff));
  background-color: #eee;
  background: -moz-linear-gradient(bottom, #ddb, #fff);
  border: 16px solid #fff;
  -moz-transform: scale(.315, .315);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.315, .315);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.315, .315);
  -o-transform-origin: 0 0;
}

/* Pygments default theme */
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #555753 } /* Operator */
.n { color: #555753 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #555753 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #555753 } /* Literal.Number.Float */
.mh { color: #555753 } /* Literal.Number.Hex */
.mi { color: #555753 } /* Literal.Number.Integer */
.mo { color: #555753 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #555753 } /* Literal.Number.Integer.Long */

/* Presenter Mode */

body.presenter_view div.slide {
  display: inline;
  position: absolute;
  overflow: hidden;
  -moz-transform: scale(.5, .5);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.5, .5);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.5, .5);
  -o-transform-origin: 0 0;
  margin-top: -300px;
}

body.presenter_view .slide.far-past {
  display: block;
  margin-left: -1500px;
}

body.presenter_view .slide.past {
  display: block;
  margin-left: -975px;
}

body.presenter_view .slide.current {
  display: block;
  margin-left: -475px;
  border: 8px solid maroon;
  z-index: 2;
}

body.presenter_view .slide.future {
  display: block;
  margin-left: 25px;
  z-index: 1;
}

body.presenter_view .slide.far-future {
  display: block;
  margin-left: 525px;
}

body.presenter_view div#current_presenter_notes {
  visibility: visible;
  display: block;
  position: absolute;
  overflow: auto;
  vertical-align: middle;
  left: 50%;
  top: 50%;
  margin-left: -475px;
  margin-top: 100px;
  z-index: 2;
  width: 950px;
  border-style: solid;
  height: 30%;
  background-color: white;
}

body.presenter_view div#current_presenter_notes section {
  font-family: "Raleway", Verdana, sans-serif;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  display: block;
  overflow: visible;
  position: relative;
  background-color: #ffffff;
  height: 180px;
  margin-right: 30px;
  margin-top: 30px;
  margin-left: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

body.presenter_view div#current_presenter_notes section p {
  margin: 0;
}

body.presenter_view div#current_presenter_notes h1 {
  font-size: 50%;
  display: block;
}

div#current_presenter_notes {
  display: none;
}

div.slide div.presenter_notes {
  display: none;
}

#blank {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 64;
  display: none;
}
